@model Lagerverwaltung.Model.DatabaseModels.Lagerartikel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lagerartikel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.L_Bezeichnung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_Bezeichnung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_Preis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_Preis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lagerstand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lagerstand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_MengenEinheit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_MengenEinheit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LagerartikelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
